extends layout

block content
  div(class="content")
   main(class="cd-main")

   div(class="cd-folding-panel")
    div(class="fold-left")
    div(class="fold-right")
    div(class="cd-fold-content")
    a(class="cd-close",href="#0")